
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hello!! This is Tilak Kawa. I am currently stdying in CPP at Seneca college. One of the most fascinating thing about taking this course is I can make my own Server now.</p>
          <p>I am basically from India and studying computer science has always been my dream which did came true now.!!</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Best is yet to come, Stay Tuned.!!!!!</p>
        </aside>
      </div>
    </div>

   